<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
	I am a math/computer science major looknig to make it big with Ruby on Rails.  Moving out of
	Western New York after living there my whole life, I hope to find a sunny location in the 
	South West.
</p>